body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    text-align: center;
    color: white;
    padding: 50px;
}

.container {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 400px;
}

h1 {
    font-size: 28px;
    animation: fadeIn 2s ease-in-out;
}

.message {
    font-size: 19px;
    font-style: italic;
   
  
}


button{ 
    background: #ff6b81;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top:5px;
}